@font-face{
    font-family: Kumbh Sans;
    src: url(https://fonts.google.com/specimen/Kumbh+Sans);
}

#main{
    width: 1024px;
    height: 0px;
    font-size: 18px;
    font-weight: none;
    font-family: Kumbh Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -10px -400px, 920px 400px;
}


#box{
    background-color: white;
    width: 22rem;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    
}

#box .card{
    width: 22rem;
    position: relative;
    top: -07rem;
    bottom: 0;
    z-index: 0;
    border-radius: 15px 15px 0 0;

}

#box .logo{
    z-index: 1;
    position: relative;
    top: 80px;
    border-radius: 50%;
    border: 5px solid white;
    
}

.nomeinfo{
    width: 100%;
    text-align: center;
    font-size: 17px;
    position: relative;
    bottom: 40px;
    line-height: 1.6


}

#info{
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
    font-size: 17px;
    bottom: 25px;
   
}

.attribution{
    position: absolute;
    top: 90%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -90%);
}





